@font-face {
	font-family: "Cuprum";
	src: url("../fonts/web/cuprum.woff");
	font-style: normal;
	font-weight: normal;
}


body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Cuprum", "Arial";
  font-size: 14px;
}

.container {
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}



/*header*/

header .main-navigation {
  background-color: #293449;
}

header {
	background-color: #f3f7f9;
		padding-bottom: 60px;
}

.main-navigation .container {
  display: flex;
  justify-content: space-between;
}

.main-navigation .container div {
	display: flex;
	align-items: center;
	position: relative;
}

.heder__logo {
	height: 42px;
	display: inline-block;
	padding-top: 13px;
	padding: 13px 55px 0;
	box-sizing: border-box;
	background-color: #ee3843;
	position: relative;
}

.heder__logo:after {
	content: '';
	height: 5px;
	width: 100%;
	background-color: #c02c36;
	position: absolute;
	left: 0;
	bottom: -5px;
}

.button_search {
margin-right: 42px;
color: #fff;
height: 42px;
display: flex;
align-items: center;
height: 42px;
line-height: 42px;
transition: 0.3s;

}

.button_search:hover {
	background-color: #212a3a;
}

.button_search:focus {
	background-color: #fff;
}

.main-navigation_search_img {
	opacity: 0.3;
	position: absolute;
	left: 15px;
}

.main-navigation_search {
	background-color: transparent;
	border: 0;
	height: 100%;
	position: relative;
	top: 0;
	outline: none;
	padding-left: 47px;
	color: #fff;
	font: inherit;
	font-size: 17px;
	width: 100%;
}

.main-navigation_search::placeholder {
	color: #fff;
}

.main-navigation_search:focus {
	background-color: #ffffff;
	color: #000;
}

.order-button {
	background-color: #63a63e;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
	height: 42px;
	font-size: 17px;
	line-height: 42px;
	transition: 0.3s;
	width: max-content;
}

.main-navigation a.order-button:hover {
	background-color: #5fbb2d;
}

.main-navigation a.order-button:active {
	background-color: #518534;
}

.header-oder_link {
	padding-left: 15px;
	padding-right: 30px;
	color: #fff;
	font-size: 17px;
	display: flex;
	align-items: center;
	height: 42px;
	line-height: 42px;
	transition: 0.3s;
}


.header-oder_link:hover {
	background-color: #212a3a;
}

.header-oder_link:active {
	background-color:  #161d29;
}

.header-oder_link img {
	opacity: 0.3;
	margin-right: 15px;
}

.header-oder_link:first-of-type {
	margin-left: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.main-navigation {
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  background-color: #293449;
  list-style: none;
}

.main-navigation a {
  color: #fff;
}

.main-navigation a:not(.heder__logo .order-button):hover{
  background-color: #212a3a;
}

.main-navigation a:not(.order-button)focus {
  background-color: #161d29;
}

.container-2 {
	display: flex;
	align-items: center;
	width: 940px;
  margin: 0 auto;
	height: 153px;
}

.text {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
	background-color: rbga;
	width: 226px;
	height: 62px;
	margin-left: 52px;
}

.tel {
	display: flex;
	align-items: center;
	color: #ee3643;
  font-size: 21 px;
  line-height: 21px;
  font-weight: 400;
	width: 270px;
	height: 45px;
	margin-right: 22px;
	border: 3px solid #ffffff;
}

.tel-icon {
  vertical-align:bottom;
  margin-right: 40px;
	margin-left: 15px;
}

.address {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
	width: 280px;
	height: 24px;
}

.user-navigation {
  color: #000;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400px;
	background-color: #fff;
	width: 121px;
	height: 45px;
	margin-right: 10px;
	padding: 13px;
	border: none;
}

.user-navigation-1 {
	color: #000;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400px;
	background-color: #fff;
	width: 150px;
	height: 45px;
	padding: 11px;
	border: none;
}

.user-navigation-icon {
	margin-right: 14px;
}

.main-site-navigation {
 background-color: #32425c;
 align-items: center;
 color: #fff;

}

.main-site-navigation:after {
 content: '';
 height: 5px;
 width: 100%;
 background-color: #1d2739;
 position: absolute;
 left: 0;
 bottom: 165px;
}

header ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: #32425c;
	margin: 0;
	padding: 0;
	list-style: none;
	color: #fff;
	border-bottom: solid 5px #1d2739;
}

/*main*/

.visually-hidden {
  font-size: 0;
  visibility: hidden;

}

.block-banner {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: 0 10px;
	width: 940px;
}

.banner {
  width: 300px;
  height: 123px;
  padding: 20px 23px;
  background-color: #ffbf47;
	margin-right: 20px;
	box-sizing: border-box;
}

.banner-title {
  margin: 0 0 13px;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
	margin-right: 20px;
}

.banner-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 38px;
  background-color: rgba(0, 0, 0, .1);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
	margin-right: 140px;
	margin-bottom: 22px;
}

.banner-link:hover {
background-color: rgba(0, 0, 0, .3);
}

.banner-link:active {
background-color: rgba(0, 0, 0, .5);
}


.banner-foto {
position: relative;
width: 620px;
height: 266px;
background-image: url('./img/Layer_99@2x.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: contain;

}

.foto {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 0;
}

.banner-foto h2 {
	z-index: 1;
	position: relative;
}

.banner-foto a {
	z-index: 1;
	position: relative;
	bottom: 0;
}

.banner-img {
  float: right;
  margin: 11px 23px 0 0;
}

.banner-blue {
  background-color: #3bbce3;
}

.banner-lilac {
  background-color: #dc91d8;
}

.banner-green {
  background-color: #8ed78f;
	margin-bottom: 20px;
	margin-left: 20px;

}

.banner-orange {
  background-color: #ffc847;
	margin-left: 20px;
}

.gallery {
	display: flex;
  align-items: center;
	margin-left: auto;
	margin-right: 130px;
	margin-bottom: 21px;
}

.popular {
	display: flex;
	align-items: center;
	width: 940px;
	height: 89px;
	background-color: #f9f5f0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;

}

.popular-name {
	color: #32425c;
	width: 290px;
	height: 30px;
	margin-left: 158px;
}

.popular-button {
	width: 253px;
	height: 38px;
	margin:25px 24px 26px;
	background-color: #ee3643;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2px;
}

.product {
	display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  width: 220px;
  height: 318px;
  border: 1px solid #eaeaea;
  background-color: #fff;
	margin-left: 20px;
}

.product:hover {
	box-shadow: 0 10px 25px 0px rgba(41, 52, 73, 0.5);

}

.product-img-1 {
	width: 184px;
	height: 164px;
}

.product-img-1:hover {

}

.product-img-2 {
	width: 127px;
	height: 112px;
}

.product-img-3 {
	width: 144px;
	height: 128px;
}

.product-img-4 {
	width: 127px;
	height: 112px;
}

.product-name {
  width: 185px;
  height: 43px;
  color: #000;
  font-size: 18px;
  font-weight: 700px;
  line-height: 20px;
	margin-left: 17px;
	text-align: center;
}

.value {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  width: 141px;
  height: 38px;
  background-color: #ee3643;
	position: relative;
	margin: auto;
	margin-bottom: 21px;
}

 .value:after {
  content:'';
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-left: 19px solid #ee3643;
	border-bottom: 19px solid transparent;
	right: -19px;
	position: absolute;
}

.product s {
	display: flex;
	align-items: center;
  justify-content: center;
	color: #a9a9a9;
	margin-bottom: 14px;

}

.proizvoditel {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style: none;
	justify-content: space-between;
	margin-left: 130px;
	margin-right: 130px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}

.proizvoditel li {
	height: 145px;
	border: 1px solid #eaeaea;
	width: calc(25% - 22px);
	display: flex;
	align-items: center;
	margin: 0 10px 20px;
	justify-content: center;
}

.proizvoditel li:hover {
	box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.proizvoditel li:active {
	box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);

}

.service {
	margin-top: 65px;
	margin-bottom: 0px;
	background-color: rgba (0,0,0,0);
	width: 100%;
	height: 522px;
	background-color: #f4f8f9;
}

.service-container {
 width: 960px;
 margin: 0 auto;
 padding: 0 10px;
 box-sizing: border-box;

}

.div-service h3 {
	width: 428px;
	height: 40px;
	margin-left: 130px;
	font-size: 30px;
	padding-top: 64px;
}

.div-service p {
	margin-left: 130px;
	margin-top: 15px;
	width: 500px;
	height: 49px;
}

.one-more-div {
	display: flex;
}

.service ul {
	list-style: none;
	padding-left: 0;
}

.service li {
	background-color: #32425c;
	width: 240px;
	height: 61px;
	padding-left: 22px;
	padding-top: 14px;
	border-bottom: 1px solid #293449;
	border-top: 1px solid #4b5d70;
	box-shadow: 0 0 0 10px rgba(0,25,1,0.5);

}

.service li:hover {
	background-color: #293449;
}

.service li:active {
	background-color: #fff;
}

.service a {
	color: #fff;
	font-size: 22px;
	line-height: 60px;
}

.service a:active {
	color: #32425c;
}

.delivery {
	display: block;
	align-items: center;
	margin-left: 80px;
	background-image: url('./img/Layer_131.png');
	background-position: right;
	background-repeat: no-repeat;
}

.delivery h3 {
	width: 305px;
	height: 36px;
	color: #32425c;
}

.delivery img {
	margin-bottom: 0;
}

.technomart {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 86px;

}

.technomart-div {
	margin-left: 130px;
	font-size: 13px;
}

.technomart-contact {
	margin-left: 89px;

}

.technomart-div h3 {
	font-size: 30px;
	margin-bottom: 24px;
	margin-top: 79px;
}

.technomart-p {
	display: block;
	align-items: center;
	justify-content: center;
	width: 550px;

}
.technomart-p p {
padding-bottom: 15px;
}

.technomart-div ul {
	margin-top: 0;
}

.technomart-contact h3 {
	font-size: 30px;
	padding-bottom:24 px;
	margin-top: 79px;
}

/*catalog*/
.catalog_in_catalog {
display: flex;
align-items: flex-start;
list-style: none;
margin-left: 129px;
color: #000000;
}

.catalog_in_catalog li {
color: #000;
padding-right: 10px;
}

.hammer_drill {
	background-color: #f2f6f8;
	color: #32425c;
	display: flex;
	align-items: flex-start;
 justify-content: center;
	size: 30px;
	margin-left: 130px;
	padding-left: 28px;
	padding-right: 713px;
	height: 89px;
}

/*footer*/

.footer-container {
	width: 100%;
	height: 300px;
	background-color: #32425c;
	margin-top: 86px;
}

footer .heder__logo {
	margin-left: 130px;
	width: 220px;
	height: 64px;
  display: inline-block;
	padding-top: 21px;
  padding-left: 42px;
	padding-right: 42px;
	padding-bottom: 21px;
}


.footer-address {
	margin-left: 133px;
	color: #f1f5f7;
	margin-top: 94px;
}

.footer-container p {
	margin-left: 133px;
	color: #f1f5f7;
	margin-top: 0;
}

footer ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
  list-style: none;
	height: 24px;
}

.footer-contact-ul {
	margin-left: 523px;
	margin-right: 100px;
}

.footer-contact-ul:hover {
	text-decoration-line:underline;
}

.footer-contact-ul:active {
	color: #fff;
	opacity: 0.5;
}

.footer-contact {
	color: #f1f5f7;
	margin-right: 30px;
	margin-top: 37px;
}

.footer-sentece-ul {
	margin-left: 546px;
	margin-right: 100px;
}

.footer-sentece-ul:hover {
	text-decoration-line:underline;
}

.footer-sentece-ul:active {
 color: #f1f5f7;
 opacity: 0.5;
}

.footer-sentece {
	color: #ffd180;
	margin-bottom: 74px;
	margin-right: 30px;
}

.connection {
	display: flex;
	align-items: center;
	background-color: #293449;
	width: 100%;
	height: 130px;
	color: #fff;
}

.connection p {
	margin-left: 131px;

}

.connection a {
	color: #ffd180;
}

.connection a:hover {
	color: #ffd180;
}

.connection a:active {
	color: #ee3643;
}

.connection ul {

}

.connection li {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: 42px;
	background-color: #212a3a;
	border-radius: 50%;
}

.connection li:hover {
	background-color: #ee3643;
}

.connection li::after {
	background-color: #ee3643;
}


/*display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
background-color: #32425c;
margin: 0;
padding: 0;
list-style: none;
color: #fff;
border-bottom: solid 5px #1d2739;*/
 /*<dialog open>
		<form>
			<label>
				Ваше имя:
				<input name="fio" placeholder="Имя Фамилия">
			</label>
			<label>
				Ваш e-mail:
				<input name="fio" placeholder="email@example">
			</label>
			<textarea rows="20" name="text">	</textarea>
		</form>
	</dialog>*/
